/*
 * Main HackRU Theme: https://colorhunt.co/palette/146022
 */
// Define the theme colors
$primary: #3884f2;
$secondary: #303841;
$info: #54c5f8;
$white: #FFFFFF;
$theme-colors: (
    "primary": #3884f2,
    "secondary": #303841,
    "info": #54c5f8,
    "white": #FFFFFF
);
$theme-colors-transparent: (
    "primary": #3884f255,
    "secondary": #30384155,
    "info": #54c5f855,
    "white": rgba(255, 255, 255, 0.3333333333)
);
// Define the theme font
@font-face {
    font-family: "Titillium Web";
    src: url(./fonts/Titillium.ttf) format("truetype");
}
$font-family-sans-serif: Titillium Web, sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;
// Override bootstrap variables
$btn-border-radius: 0px;